.ipynb_checkpoints
*.a
*.aux
*.bbl
*.blg
*.brf
*.digraphs
*.DS_Store
*.dylib
*.g6
*.gcda
*.gcno
*.guess
*.gz
*.html
*.idx
*.ilg
*.ind
*.la
*.lab
*.lo
*.log
*.o
*.out
*.pdf
*.Plo
*.pnr
*.pyc
*.six
*.status
*.sub
*.swo
*.swp
*.synctex.gz
*.tex
*.toc
*.top
*.Tpo
*.tui
*.txt
/doc/*.css
/doc/*.js
aclocal.m4
autom4te.*
bin/
bliss
compile
configure
coverage
depcomp
digraphs-config.h
digraphs-lib
gen/
gh-pages/
Makefile
manual.lab
missing
src/pkgconfig.h.in
tags
tst/out/
