*.DS_Store
*.Plo
*.Tpo
*.aux
*.bbl
*.blg
*.brf
*.digraphs
*.g6
*.gcda
*.gcno
*.guess
*.gz
*.html
*.idx
*.ilg
*.ind
*.la
*.lab
*.lo
*.log
*.o
*.out
*.pdf
*.pnr
*.pyc
*.six
*.status
*.sub
*.swp
*.synctex.gz
*.tex
*.toc
*.top
*.tui
*.txt
.dirstamp
.libs/*
Makefile
Makefile.in
aclocal.m4
autom4te.*
bin/*
cnf/*
configure
digraphs-config.h
digraphs-lib
gh-pages/
libtool
ltmain.sh
m4/*
planarity
src/.deps/*
src/.libs/*
src/_pkgconfig.h
extern/edge-addition-planarity-suite-Version_*/.libs
extern/edge-addition-planarity-suite-Version_*/c/.deps
extern/edge-addition-planarity-suite-Version_*/m4
src/stamp-h1
tags
tst/out/*
data/digraphs-lib-0.5
gh-pages/
manual.lab
ltmain.sh
.libs/**/Info.plist
digraphs-config.h
compile
depcomp
install-sh
missing
*.swo
coverage
.ipynb_checkpoints
bliss
*.a
*.dylib
/doc/*.js
/doc/*.css
