Marina Anagnostopoulou-Merkouri <mam49@st-andrews.ac.uk> marinaanagno <66735004+marinaanagno@users.noreply.github.com>
Finn Buck <finneganlbuck@gmail.com> Finnegan Buck <61651823+finnbuck@users.noreply.github.com>
Stuart Burrell <stuartburrell1994@gmail.com> Stuart Burrell <stuartburrell@users.noreply.github.com>
Reinis Cirpons <rc234@st-andrews.ac.uk> reiniscirpons <43414125+reiniscirpons@users.noreply.github.com>
Tom Conti-Leslie <tom.contileslie@gmail.com> Tom Conti-Leslie <54725378+tomcontileslie@users.noreply.github.com>
Tom Conti-Leslie <tom.contileslie@gmail.com> Tom Conti-Leslie <tdcl@st-andrews.ac.uk>
Jan De Beule <jdebeule@cage.ugent.be>
Jan De Beule <jdebeule@cage.ugent.be> Jan De Beule <jan@debeule.eu>
Jan De Beule <jdebeule@cage.ugent.be> jdebeule <unknown>
Joe Edwards <je53@st-andrews.ac.uk> Joe Edwards <80713360+Joseph-Edwards@users.noreply.github.com>
Luke Elliott <le27@st-andrews.ac.uk> Luke <le27@st-andrews.ac.uk>
Luke Elliott <le27@st-andrews.ac.uk> le27 <le27@st-andrews.ac.uk>
Max Horn <horn@mathematik.uni-kl.de> Max Horn <max@quendi.de>
Julius Jonusas <j.jonusas@gmail.com> Julius <jj252@st-andrews.ac.uk>
Julius Jonusas <j.jonusas@gmail.com> Julius <unknown>
Julius Jonusas <j.jonusas@gmail.com> jj <unknown>
Julius Jonusas <j.jonusas@gmail.com> sriubas <j.jonusas@gmail.com>
Olexandr Konovalov <obk1@st-andrews.ac.uk> Alexander Konovalov <alex-konovalov@users.noreply.github.com>
Andrea Lee <ahwl1@st-andrews.ac.uk> baydrea <87464855+baydrea@users.noreply.github.com>
James Mitchell <jdm3@st-and.ac.uk> <james-d-mitchell@users.noreply.github.com>
James Mitchell <jdm3@st-and.ac.uk> <jdm3@st-andrews.ac.uk>
Markus Pfeiffer <markus.pfeiffer@morphism.de> Markus Pfeiffer <markus.pfeiffer@st-andrews.ac.uk>
Markus Pfeiffer <markus.pfeiffer@morphism.de> Markus Pfeiffer <markuspf@users.noreply.github.com>
Lea Racine <lr217@st-andrews.ac.uk> LRacine <35891709+LRacine@users.noreply.github.com>
Lea Racine <lr217@st-andrews.ac.uk> Lea Racine <35891709+LRacine@users.noreply.github.com>
Lea Racine <lr217@st-andrews.ac.uk> Lea Racine <racine.lea@icloud.com>
Chris Russell <cr66@st-andrews.ac.uk> ChristopherRussell <cr66@st-andrews.ac.uk>
Isabella Scott <iscott@uchicago.edu> <isabellascott@8afbf1d2.st-andrews.ac.uk>
Isabella Scott <iscott@uchicago.edu> Isabella Scott <is48@st-andrews.ac.uk>
Kamran Sharma <kks4@st-andrews.ac.uk> Kamran Sharma <47451735+KamranKSharma@users.noreply.github.com>
Finn Smith <fls3@st-andrews.ac.uk> Finlay Smith <fls3@st-andrews.ac.uk>
Finn Smith <fls3@st-andrews.ac.uk> flsmith <finnishing@gmail.com>
Maria Tsalakou <mt200@st-andrews.ac.uk> Maria Tsalakou <55688065+mariatsalakou@users.noreply.github.com>
Murray Whyte <mw231@st-andrews.ac.uk> MTWhyte <42549861+MTWhyte@users.noreply.github.com>
Murray Whyte <mw231@st-andrews.ac.uk> Murray Whyte <42549861+MTWhyte@users.noreply.github.com>
Wilf Wilson <gap@wilf-wilson.net> Wilf Wilson <wilf@wilf-wilson.net>
