<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GAP package {{ site.data.package.name }}</title>

    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css">
    <script type="text/javascript"
      src="javascripts/scale.fix.js">
    </script>
    <script type="text/javascript"
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">{{ site.data.package.name }}</h1>
        <p class="header">{{ site.data.package.description }}</p>
        <p class="header">Version {{site.data.package.version}}</p>

        <ul>
          {% for item in site.data.package.downloads %}
          <li class="download"><a class="buttons" href="{{ item.url }}">Download {{ item.name }}</a></li>
          {% endfor %}
          {% if site.github.repository_url %}
          <li><a class="buttons github" href="{{ site.github.repository_url }}">View On GitHub</a></li>
          {% elsif site.data.package.github %}
          <li><a class="buttons github" href="{{ site.data.package.github }}">View On GitHub</a></li>
          {% endif %}
        </ul>

        <p class="header">This project is maintained by
          {% for person in site.data.package.maintainers %}
            {% if person.url %}
              <a class="header name" href="{{ person.url }}">{{ person.name }}</a>{% else %}
              {{ person.name }}{% endif %}{% unless forloop.last %}, {% endunless %}
          {% endfor %}
        </p>


      </header>
      <section>

          {{ content }}

      </section>
      <footer>
        <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
		
  </body>
</html>
