name: "GAP"
on:
  workflow_dispatch:
  pull_request:
  push:
  schedule:
    # Every day at 3:30 AM UTC
    - cron: '30 3 * * *'

env:
  DIGRAPHS_LIB: digraphs-lib-0.6

jobs:
  test-unix:
    name: "${{ matrix.os }}${{ matrix.ABI }} / GAP ${{ matrix.gap-branch }}"
    runs-on: "${{ matrix.os }}-latest"
    # Don't run this twice for PRs from branches in the same repository
    if: ${{ !(github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository) }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu
        gap-branch:
          - master
          - stable-4.11
        pkgs-to-clone:
          - NautyTracesInterface
        ABI: ['']

        include:
          - gap-branch: stable-4.10
            pkgs-to-clone: datastructures
            os: ubuntu
          - gap-branch: master
            pkgs-to-clone: "datastructures NautyTracesInterface"
            os: macos
          - gap-branch: master
            os: ubuntu
            ABI: 32

    steps:
      - uses: actions/checkout@v2
      - name: "Install dependencies"
        if: ${{ runner.os == 'macOS' }}
        run: brew install automake
      - name: "Install GAP and clone/compile necessary packages"
        uses: gap-actions/setup-gap@v2
        with:
          GAP_PKGS_TO_CLONE: "${{ matrix.pkgs-to-clone }}"
          GAP_PKGS_TO_BUILD: "io orb profiling grape NautyTracesInterface datastructures"
          GAPBRANCH: ${{ matrix.gap-branch }}
          ABI: ${{ matrix.ABI }}
      - name: "Build Digraphs"
        uses: gap-actions/build-pkg@v1
        with:
          ABI: ${{ matrix.ABI }}
      - name: "Install digraphs-lib"
        run: |
          curl --retry 5 -L -O "https://digraphs.github.io/Digraphs/${{ env.DIGRAPHS_LIB }}.tar.gz"
          tar xf "${{ env.DIGRAPHS_LIB }}.tar.gz"
      - name: "Run tst/testall.g"
        uses: gap-actions/run-pkg-tests@v2
      - uses: gap-actions/process-coverage@v2
      - uses: codecov/codecov-action@v1
