name: Lint
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - stable-*.*
  schedule:
    # Every day at 3:30 AM UTC
    - cron: 30 3 * * *

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: ${{ matrix.linter }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        linter:
          - gaplint
          - cpplint
    steps:
      - name: Check out the repository . . .
        uses: actions/checkout@v5
      - name: Set up Python . . .
        uses: actions/setup-python@v5
      - name: Install ${{ matrix.linter }} with pip . . .
        run: pip install ${{ matrix.linter }}
      - name: Run ${{ matrix.linter }} on the Digraphs package . . .
        run: bash etc/${{ matrix.linter }}.sh
