name: Manual
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - stable-*.*
  schedule:
    # Every day at 3:20 AM UTC
    - cron: "20 3 * * *"

concurrency:
  # Group by workflow and ref; the last component ensures that for pull requests
  # we limit to one concurrent job, but for the main/stable branches we don't
  group: ${{ github.workflow }}-${{ github.ref }}-${{ (github.ref != 'refs/heads/main' && !startsWith(github.ref, 'refs/heads/stable-')) || github.run_number }}
  # Only cancel intermediate pull request builds
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  manual:
    name: compile and upload manual
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install TeX Live . . .
        run: |
          packages=(
            texlive-latex-base
            texlive-latex-recommended
            texlive-latex-extra
            texlive-extra-utils
            texlive-fonts-recommended
            texlive-fonts-extra
          )
          sudo apt-get update
          sudo apt-get install "${packages[@]}"
      - uses: gap-actions/setup-gap@v3
        with:
          gap-version: latest
      - uses: gap-actions/build-pkg-docs@v2
      - name: Upload compiled manuals . . .
        uses: actions/upload-artifact@v5
        with:
          name: Digraphs manual
          retention-days: 7
          path: |
            doc/manual.pdf
            doc/*.html
            doc/*.css
            doc/*.js
