name: Manual
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - stable-*.*
      - dev-*.*
  schedule:
    # Every day at 3:20 AM UTC
    - cron: "20 3 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  manual:
    name: compile and upload manual
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install TeX Live . . .
        run: |
          packages=(
            texlive-latex-base
            texlive-latex-recommended
            texlive-latex-extra
            texlive-extra-utils
            texlive-fonts-recommended
            texlive-fonts-extra
          )
          sudo apt-get update
          sudo apt-get install "${packages[@]}"
      - uses: gap-actions/setup-gap@v3
        with:
          gap-version: latest
      - uses: gap-actions/build-pkg-docs@v2
      - name: Upload compiled manuals . . .
        uses: actions/upload-artifact@v4
        with:
          name: Digraphs manual
          retention-days: 7
          path: |
            doc/manual.pdf
            doc/*.html
            doc/*.css
            doc/*.js
